{
  "env": {
    "production": {
      "presets": [
        "stage-0",
        "es2015"
      ],
      "plugins": [
        "transform-es5-property-mutators",
        "transform-es3-property-literals",
        "transform-decorators-legacy",
        "transform-es3-member-expression-literals",
        "transform-class-properties",
        "transform-flow-strip-types"
      ]
    },
    "development": {
      "presets": [
        "stage-0",
        "es2015"
      ],
      "plugins": [
        "transform-es5-property-mutators",
        "transform-es3-property-literals",
        "transform-decorators-legacy",
        "transform-es3-member-expression-literals",
        "transform-class-properties",
        "transform-flow-strip-types"
      ]
    }
  }
}